

body {
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  background-color: rgb(17, 10, 2);

}


h1{
  text-align: center;
  color: gold;
  padding: .5rem;
  font-size: 3rem;
  letter-spacing: .7rem;
}

.main{
  margin: auto;
  text-align: center;
  color: red;
}

.row-1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: black solid .1rem;
  height: 40rem;
}

.row-1 div{
  padding: 1rem;
  text-align: center;
  flex: 1;
}

.row-1 ,.row-2{
  background: url('./assets/table.jpg') no-repeat center center/cover;
  width: auto;
  color: whitesmoke;
}


#player-deck{
  border-right:  black solid 1px;
  color: red;
}

#dealer-deck{
  color: blue
}

#player-deck img, #dealer-deck img{
    height: 20rem;
    width: 13rem;
    padding: 1rem;
}

.row-2{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.row-3{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: orange;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
}

.buttons button{
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Lobster', cursive;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin: 1.5rem;
}

.buttons button:hover{
  cursor: pointer;
  box-shadow: black 0px 0px 5px 2px;
}


@media screen and (max-width:740px){
  html{
      font-size: 40%;
  }
}
@media screen and (max-width:420px){
  html{
      font-size: 30%;
  }
}